<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	{{!-- {{> mHead}} --}}
</head>
<body>
<form action="/play">
<input type="text" name="gamepin" placeholder="Enter Game code" required>
</form>
</body>
</html>